@import '_vars.scss';
@import '_normalize.scss';

// implicit media query: mobile default

body {
    background: $light-brown;
    color: $dark-brown;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    margin: 2%;
    text-align: center;
}

// "Level Counter"
header h1 {
    // otherwise yellow highlight spans whole screen
    display: inline-block;
    font-size: 100%;
    margin: 0 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

section {
    font-size: 130%;

    h2 {
        font-size: 100%;
        margin: .38em;
    }
}

footer {
    font-size: 55%;
    margin: .8em;
}

// only link in the footer is phette23
footer a {
    cursor: help;
}

@import '_btn.scss';
@import '_mediaqueries.scss';
@import '_utilities.scss';
