@charset "UTF-8";
/*
 * _vars.scss
 * major variables & mixins shared throughout project
 */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
footer, header, section {
  display: block; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* =============================================================================
   Links
   ========================================================================== */
/* TODO: these defaults affect links in header, footer
should relink coloring rather than stick with poor defaults */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* =============================================================================
   Lists
   ========================================================================== */
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ==|== primary styles ===================================================== */
/* implicit media query: mobile default */
body {
  margin: 2%;
  background: #f6f1df;
  text-align: center;
  color: #2c1200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em; }

/* "Level Counter" */
header h1 {
  font-size: 100%;
  margin: 0 1.5em;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em; }

/* all clickable elements should have pointer */
section {
  font-size: 130%; }

section h2 {
  margin: .38em;
  font-size: 100%; }

footer {
  margin: .8em;
  font-size: 55%; }

/* only link in the footer is phette23 */
footer a {
  cursor: help; }

/* buttons */
.btn {
  width: 1.5em;
  background-color: #edb556;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #eeb44f;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  vertical-align: middle; }

.btn:hover, .btn:focus {
  background-color: #9e6100;
  border-color: #ae8600;
  color: #fff; }

.btn:active {
  color: #fff;
  position: relative;
  top: 2px;
  left: 2px; }

.dagger {
  /* important to have a serif font for the dagger
  sans-serif will look like a cross
  en.wikipedia.org/wiki/File:Daggers.svg */
  font-family: "Old English Text MT", "Times New Roman", Times;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  /* weird Opera bug: 180deg transform moves character from its usual place & keeps it in 0deg rotation, any quantity other than a multiple of 180 doesn't do this so put in a value arbitrarily close */
  -o-transform: rotate(179.999deg);
  -ms-transform: rotate(180deg);
  /* thank YOU Microsoft for having a totally succinct & rationale syntax
  oh yeah & 2 = 180º here. But you already knew that because it's so obvious, right? */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg); }

/* ==|== media queries ======================================================
   Overrides the primary ('mobile first') styles
   ========================================================================== */
@media only screen and (min-width: 35em) {
  .col1-2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 48%; } }
@media only screen and (min-width: 35em) {
  body {
    line-height: 1.3;
    font-size: 1.8em; }

  header {
    margin-bottom: 1em; }
    header h2 {
      font-size: 135%; }

  #main section {
    font-size: 175%;
    margin-bottom: 1em; } }
@media only screen and (min-width: 54em) {
  /* headers are plenty big but increase buttons & #s */
  button, .display {
    font-size: 150%; } }
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* Hide from both screenreaders and browsers: h5bp.com/u */
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
/* Contain floats: h5bp.com/q */
