@import '_vars.scss';
@import '_normalize.scss';
@import '_chromeframe.scss';

/* ==|== primary styles ===================================================== */

/* implicit media query: mobile default */

body {
  margin: 2%;
  background: $light-brown;
  text-align: center; color: $dark-brown; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
}

/* center level, bonuses, strength sections */
#main {
  margin: 0 auto;
}

/* "Munchkin Counter" */
header h1 {
  font-size: 55%;
}

/* Player Name */
header h2 {
  font-size: 100%;
  margin: 0 1.5em;
}

/* menu styles */
nav {
  /* upper right corner */
  position: absolute; top: .4em; right: .4em;
  padding: 0 .25em;
  background: $dark-brown; color: $light-brown;
  border: 1px solid #8A6119;
    -webkit-border-radius: 4px;
  border-radius: 4px;
    -moz-box-shadow: inset 0px 1px 0px 0px #8B7553;
    -webkit-box-shadow: inset 0px 1px 0px 0px #8B7553;
  box-shadow: inset 0px 1px 0px 0px #8B7553;
}

.menu-title {
  text-align: right; color: $light-brown;
  display: inline-block;
  width: 100%;
}

/* don't match background color on hover/focus */
a.menu-title:hover,
a.menu-title:focus {
  color: $light-brown;
}

.menu-items a {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 80%;
  padding: 0 .2em;
  border: solid #8B7553;
    -webkit-border-radius: 4px;
  border-radius: 4px;
  background: $light-brown;
  color: $dark-brown;
}

nav a {
  color: $dark-brown;
  text-decoration: none;
}

/* button press action */
nav:active {
  top: .45em; right: .35em;
}

nav a:hover,
nav a:focus {
  color: $dark-brown;
}

nav a:visited {
  color: $dark-brown;
}

.menu-items a:last-child {
  margin-bottom: .5em;
}

.extra-text {
  display: none;
}

/* all clickable elements should have pointer */
.pm-button, nav {
  cursor: pointer;
}

h2.pname {
  cursor: text;
}

section {
  font-size: 130%;
}

section h2 {
  margin: .38em;
  font-size: 100%;
}

footer {
  margin: .8em;
  font-size: 55%;
}

/* buttons */

button {
  width: 1.5em;
    -moz-box-shadow: inset 0px 1px 0px 0px #fcf8f2;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fcf8f2;
  box-shadow: inset 0px 1px 0px 0px #fcf8f2;
  background-color: #edb556;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #eeb44f;
  display: inline-block;
  color: #fff; font-weight: bold;
  vertical-align: middle;
}

button:hover, button:focus {
  background-color: #9e6100;
    -moz-box-shadow: inset 0px 1px 0px 0px #ae8600;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ae8600;
  box-shadow: inset 0px 1px 0px 0px #ae8600;
  border-color: #ae8600;
}

button:active {
  position: relative; top: 2px; left: 2px;
}

.start-hid {
  display: none;
}

#dagger {
  /* important to have a serif font for the dagger
  sans-serif will look like a cross
  en.wikipedia.org/wiki/File:Daggers.svg */
  font-family: "Old English Text MT", "Times New Roman", Times;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    /* weird Opera bug: 180deg transform moves character from its usual place & keeps it in 0deg rotation, any quantity other than a multiple of 180 doesn't do this so put in a value arbitrarily close */
    -o-transform: rotate(179.999deg);
    -ms-transform: rotate(180deg);
    /* thank YOU Microsoft for having a totally succinct & rationale syntax
    oh yeah & 2 = 180º here. But you already knew that because it's so obvious, right? */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg);
}

/* contenteditable
stealing this from Remy Sharp
http://jsbin.com/owavu3
put h2 in front to avoid implicit universal selector */

.pname:hover:after {
  content: ' click to edit';
  font-style: italic;
  font-size: 50%;
    -webkit-text-stroke: 0;
  text-stroke: 0;
}

.pname:hover, .pname:focus {
  background: #E8FA43;
}

.pname:focus {
  padding: 5px;
}

.pname:focus:after {
  content: '';
}

/* both links in the footer are "help" links
revisit this rule if that changes later */
footer a {
  cursor: help;
}

@import '_combat.scss';
@import '_mediaqueries.scss';
@import '_utilities.scss';
@import '_print.scss';
