<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Level Counter</title>
	<meta name="description" content="An open source Level Counter in HTML">

	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">

	<!-- remove apple touch icons, other irrelevant head pieces
	difference from master branch -->

	<link rel="icon" type="image/png" href="images/logo.png">

	<link rel="author" href="humans.txt" />

	<!-- use local AngularJS to suit Chrome Extensions' Content Security Policy
	see: developer.chrome.com/extensions/contentSecurityPolicy.html
	difference from master branch -->
	<script src="components/angular/angular.min.js"></script>

	<script src="scripts/main.js"></script>
</head>

<!-- run Angular in CSP mode
	see: stackoverflow.com/questions/11336969/using-angularjs-in-a-google-chrome-extension
	difference from master branch -->
<body ng-app ng-csp>

	<header>
		<h1>Level Counter</h1>
	</header>

	<div role="main" id="main" ng-controller="LevelCounter">

		<section id="level" class="col1-2">
			<h2>Level</h2>
			<button ng-click="player.dnLvl()">-</button>&nbsp;<span class="display">{{player.level}}</span>&nbsp;<button ng-click="player.upLvl()">+</button>
		</section>

		<section id="bonuses" class="col1-2">
			<h2>Bonuses</h2>
			<button ng-click="player.dnBns()">-</button>&nbsp;<span class="display">{{player.bonus}}</span>&nbsp;<button ng-click="player.upBns()">+</button>
		</section>

		<section id="strength">
			<h2>Combat Strength</h2>
			<span class="display">{{player.strength()}}</span>&nbsp;
			<!-- "dagger" entity: http://htmlhelp.com/reference/html40/entities/special.html -->
			<button id="dagger">&dagger;</button>
		</section>

	</div>

	<footer>
		by&nbsp;<a href="http://twitter.com/phette23">phette23</a>
	</footer>

</body>
</html>
