<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Level Counter</title>
	<meta name="description" content="An open source Level Counter in HTML">

	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">
	<!-- Web app capable: developer.apple.com/library/safari/#documentation/appleapplications/reference/SafariHTMLRef/Articles/MetaTags.html -->
	<meta name="apple-mobile-web-app-capable" content="yes">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons#comment-2 -->
	<link rel="icon" type="image/png" href="images/logo.png">
	<!-- 320x460 for iPhone 3GS -->
	<link rel="apple-touch-startup-image" media="(max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2)" href="startup-iphone.png">
	<!-- 640x920 for retina display -->
	<link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="startup-iphone4.png">
	<!-- iPad Portrait 768x1004 -->
	<link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: portrait)" href="startup-iPad-portrait.png">
	<!-- iPad Landscape 1024x748 -->
	<link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: landscape)" href="startup-iPad-landscape.png">
	<link rel="stylesheet" href="styles/main.css">

	<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

	<!-- for IE9 pinned sites
	html5boilerplate.com/docs/head-Tips/#ie9-pinned-sites -->
	<meta name="application-name" content="Level Counter" />
	<meta name="msapplication-tooltip" content="Keep track of your level & bonuses!" />
	<meta name="msapplication-navbutton-color" content="#F6F1DF" />

	<!-- for Twitter Cards
	dev.twitter.com/docs/cards -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@phette23">
	<meta name="twitter:url" content="http://phette.net/level-counter/">
	<meta name="twitter:title" content="Level Counter">
	<meta name="twitter:description" content="An open source, web-based Level counter. Keep track of your levels & bonuses, plus open a combat dialog to keep track of monsters & modifiers.">

	<!-- for Facebook Open Graph
	davidwalsh.name/facebook-meta-tags -->
	<meta property="og:image" content="http://phette.net/level-counter/images/moz-app-logo.png">
	<meta property="og:title" content="Level Counter | PHETTE.NET">
	<meta property="og:url" content="http://phette.net/level-counter/">
	<meta property="og:site_name" content="PHETTE.NET">

	<link rel="author" href="humans.txt" />
</head>

<body ng-app>

	<header>
		<h1>Level Counter</h1>
	</header>

	<div role="main" id="main" ng-controller="LevelCounter">

		<section class="col1-2">
			<h2>Level</h2>
			<button ng-click="player.dnLvl()">-</button>&nbsp;
			<span class="display" ng-bind="player.level">1</span>&nbsp;
			<button ng-click="player.upLvl()">+</button>
		</section>

		<section class="col1-2">
			<h2>Bonuses</h2>
			<button ng-click="player.dnBns()">-</button>&nbsp;
			<span class="display" ng-bind="player.bonus">0</span>&nbsp;
			<button ng-click="player.upBns()">+</button>
		</section>

		<section>
			<h2>Combat Strength</h2>
			<span class="display" ng-bind="player.strength()">1</span>&nbsp;
			<!-- "dagger" entity: http://htmlhelp.com/reference/html40/entities/special.html -->
			<button class="dagger">&dagger;</button>
		</section>

	</div>

	<footer>
		by&nbsp;<a href="http://twitter.com/phette23">phette23</a>
	</footer>

	<!-- Grab Google CDN's Angular, fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script>window.angular || document.write('<script src="components/angular/angular.min.js"><\/script>')</script>

	<!-- build:js scripts/main.js -->
	<script src="scripts/main.js"></script>
	<script src="scripts/cornify.js"></script>
	<!-- endbuild -->
</body>
</html>
